body {
  margin: 0 auto;
  background-color: #000;
}
#con {
  width: 640px;
  height: 500px;
  color: white;
  position: relative;
  padding-top: 100px;
}
#selects {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
option {
  height: 20px;
}
#title {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 30px;
  font-weight: bold;
}
.title {
  animation: titleColor 6s infinite ease-in-out;
}
@keyframes titleColor {
  0%,100%{
    color: red;
    text-shadow: 5px 5px 30px red;
  }
  25%{
    color: orange;
    text-shadow: 5px 5px 30px orange;
  }
  50%{
    color: yellow;
    text-shadow: 5px 5px 30px yellow;
  }
  75%{
    color: purple;
    text-shadow: 5px 5px 30px purple;
  }
}
.time-text {
  color: white;
}
#left-time-div {
  width: 100%;
  height: 100px;
  font-size: 30px;
  position: absolute;
  top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#left-time-year {
  font-size: 50px;
  color: red;
}
#left-time-month,
#time-month {
  font-size: 50px;
  color: orange;
}
#left-time-day,
#time-day {
  font-size: 50px;
  color: yellow;
}
#left-time-hour,
#time-hour {
  font-size: 50px;
  color: green;
}
#left-time-minute,
#time-minute {
  font-size: 50px;
  color: blue;
}
#time-second {
  font-size: 50px;
  color: purple;
}
#time-div {
  width: 70%;
  height: 100px;
  margin: 0 auto;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
#time-title {
  transition: all 1s;
  width: 400px;
  height: 400px;
  font-size: 66px;
  margin: 150px auto 0;
  position: relative;
  transform-style: preserve-3d;
  -webkit-perspective: 500; 
          perspective: 500;
}
#time-title > div {
  position: absolute;
  width: 100%;
  height: 100%;
}
#time-title > div:nth-of-type(1){
  backface-visibility: hidden;
  z-index: 2;
}
#time-title > div:nth-of-type(2){
  backface-visibility: visible;
  z-index: 1;
}
#text-canvas {
  /*transform: rotateY(180deg);*/
}
#clock-canvas {
  transform: rotateY(180deg);
}
#tip {
  color: red;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  z-index: 5;
  left: 20px;
  top: 100px;
}